# Melissa Core Dependencies
wheel==0.24.0
six==1.10.0
oauthlib==1.0.3
requests-oauthlib==0.5.0
eventlet==0.20.0
Flask==0.12
Flask-SocketIO==2.8.6
python-socketio==1.6.1

# Business News Reader
beautifulsoup4==4.4.1
requests==2.8.1

# Define Subject
wikipedia==1.4.0

# Find Iphone
pyicloud==0.9.1

# Horoscope
HoroscopeGenerator==0.1.8

# Imgur Handler
imgurpython==1.1.6

# IP Addresses
netifaces==0.10.5

# System Status
psutil==4.3.0

# Twitter Handler
tweepy==3.5.0

# Speech To Text Module
telepot==4.1

# Text To Speech Module
pygame>=1.9.2b6
pyvona==1.1

# Creating Sphinx Language Model
poster==0.8.1

# Notification System
pushbullet.py==0.10.0

# Weather
git+https://github.com/jtasker/python-weather-api@cf79f478c26dd244e0c90e10d6df91bb4ea8cd5e#egg=pywapi
